.navbar-btn{
    margin-left: 1%;
    background-color: #DCDCDC;
}

.store-wrapper{    
    background-image: linear-gradient(#f2c94c, #f2994a);
}

.store-header {
    color: white;
}

.catButtons{
    margin-top:5%;
}

.add-to-cart-btn{
    display: block;
    margin-top: 2%;
}

.pagination{
    margin-top: 5%;
}

