<div class="container navigation-bar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="store">E-Commerce Website</a>
            </div>
            <button class="btn navbar-btn" (click)="changeCategory()">Home</button>
            <button class="btn navbar-btn" (click)="changeCategory('Lord of the Rings Toys')">Lord of the Rings Toys</button>
            <button class="btn navbar-btn" (click)="changeCategory('Superhero Toys')">Superhero Toys</button>
            <button class="btn navbar-btn" (click)="changeCategory('Game of Thrones Toys')">Game of Thrones Toys </button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart </a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container store-wrapper">
    <div class="text-center">
        <h4 class="store-header"> In this e-commerce website, you can buy toys/action figures of famous characters </h4>
        <hr style="height:1px;"/>
    </div>

    <div class = "row">
        <div *ngFor="let product of storeProducts; let i = index">
            <div class= "col-md-3" >
                <h4 class="text-center">
                    <!-- property binding -->
                    {{product.name}}               
                    {{product.price | currency:"USD" }}
                    <!-- {{ i }} -->
                </h4>
                <div class = "text-center">
                    {{product.description}}  
                    <button class="btn btn-success add-to-cart-btn center-block"(click)="addToCart(product)">
                        Add To Cart
                    </button>  
                </div>
            </div>
            <div class ="col-md-3">
                <img src = {{product.image}} width = '200px' height = '200px'/>
            </div>
            <!-- to create a space to consecutive row -->
            <div *ngIf="i%2==1">
               <p style="visibility:hidden;"> new row </p>
            </div>
        </div>     
    </div>

    <div class="text-center pagination">
        <hr style="height:1px;"/>
        <button *ngFor="let page of pageNumbers" (click)="changePage(page)"
                class="btn btn-outline-primary" [class.active]="page == selectedPage">
                    {{page}}
        </button>
    </div>
</div>

